
experiments-with-hydra
outputs
wandb
__pycache__
data
datasets
lightning_logs
multirun
model_channel
baseline_perceiver
*.ckpt
.vscode
baseline_vs_ours
basta
compare_poolings_snr
comparison_plots
experiments-with-hydra
imdb_binary
imdb_new_dgm
mnist
imdb_new_dgm
new_plots
processed
ReLU
results_poolings_snrs_with_noise
results_poolings_snrs_without_noise
results_with_without_dgm
uffa
use_gcn_false
with_receiver_gnn
without_noise_in_training
print.py

